<!doctype html>
<html>
<head>
  <title>UFC rankings and events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    {{ "public/base.css" | inlineFileContent | safe }}
    {{ "public/ui.css" | inlineFileContent | safe }}
    {{ "public/fight.css" | inlineFileContent | safe }}
    {{ "public/loader.css" | inlineFileContent | safe }}
  </style>
</head>

<body class="dark">
  <div id="wrapper">
    <div id="container">
        <header class="site-header">
            <h1>MMA STATS</h1>
            {# <nav class="top-menu">
                <div class="button-group">
                    <a href="#historical-rankings">Historical rankings</a>
                    <a href="#latest-rankings">Latest rankings</a>
                    <button onclick="window.getFightersFromUpcomingEvents()">Next major UFC event</button>
                </div> #}
                <!-- <form id="search-form">
                    <input type="search" id="search-input" />
                    <button type="submit">Search</button>
                </form> -->
            {# </nav> #}
        </header>
        
        <div class="triple-loader hidden"><div></div><div></div><div></div></div>

        <div id="main-container" class="container single-post-container">
            <section id="fighter-search-profile">
                <!-- We'll inject templates here with clientside JS -->
            </section>
            <section id="events">
                {% for event in events %}
                  <article>
                    {% if event.isBigEvent %}
                      <p class"next-big-event-text">Next big event:</p>
                    {% endif %}
                    <h1 class="{{ "post-title big-event" if event.isBigEvent else "post-title" }}">{{ event.eventName }}</h1>
                    <p>{{ event.date }}</p>
                    <section class="records-fighter-list">
                        {% for fighter in event.fighters %}
                          {% set info = fighter.fighterInfo %}

                          {# {% if loop.index0 % 2 == 1 %}
                            <p>VS</p>
                          {% else %}
                            <hr>
                          {% endif %} #}
                          
                          <article class="fighter">
                            <header>
                              <div class="left-col">
                                {% for src in info.relevantImages %}
                                  <img src="{{src}}" alt="fighter photo">
                                {% endfor %}
                              </div>
                              <div class="right-col">
                                <h2 class="fighter-name">{{ info.name }}</h2>
                                {% if info.nickname %}
                                  <p class="fighter-nickname"><span>Nickname:</span> {{ info.nickname }}</p>
                                {% endif %}  
                                <p class="fighter-age"><span>Age:</span> {{ info.age }}</p>
                                <p class="fighter-size"><span>Height:</span> {{ info.height }}</p>
                                <p class="fighter-reach"><span>Reach:</span> {{ info.reach }}</p>
                                <p class="fighter-birthplace"><span>Born:</span> {{ info.birthplace }}</p>
                                {% if info.fightingOutOf %}
                                  <p class="fighter-association"><span>Fighting out of:</span> {{ info.fightingOutOf }}</p>
                                {% endif %}  
                                <p class="fighter-team"><span>Team:</span> {{ info.team }}</p>
                              </div>
                            </header>
                            
                            <div class="fights">
                              <h4>Record:</h4>
                              {# buildFightHistory(fighter.record) #}
                              {% for fight in fighter.record %}
                                {# {"result":"Win","record":"28–8","opponentName":"Israel Adesanya","method":"Decision (unanimous)","event":"UFC 259","date":"March 6, 2021","round":"5","time":"5:00","location":"Las Vegas, Nevada, United States","notes":"Defended the UFC Light Heavyweight Championship.","year":"2021","opponentInfoAtTheTime":{"fighter":{"rank":"C","link":"https://mma-stats.com/fighters/Israel-Adesanya","name":"Israel Adesanya"},"division":" Middleweight ","date":"February 15, 2021","formattedDate":"2021-1","wasInTheFuture":true}} #}
                                <p class="fight {{ 'fight--win' if fight.result === 'Win' }} {{ 'fight--loss' if fight.result === 'Loss'}}">
                                  <span class="fight__year">{{fight.year}}:</span>
                                  <span class="fight__result">{{fight.result}}</span>
                                  <span class="fight__opponent">{{fight.opponentName}}</span>
                                  {% if fight.opponentInfoAtTheTime %}
                                    <span class="fight__opponent-rank {{ 'fight__opponent-rank--past' if fight.opponentInfoAtTheTime.fighter.wasInThePast }} {{ 'fight__opponent-rank--future' if fight.opponentInfoAtTheTime.fighter.wasInTheFuture }}">
                                      {{ fight.opponentInfoAtTheTime.fighter.rank }} in {{ fight.opponentInfoAtTheTime.formattedDate }}
                                      {# {% if fight.opponentInfoAtTheTime.division %}
                                        at division {{ fight.opponentInfoAtTheTime.division }}
                                      {% endif %} #}
                                    </span>
                                  {% endif %}
                                  <span class="fight__method">{{fight.method}}</span>
                                </p>
                              {% endfor %}
                            </div>
                        </article>
                      {% endfor %}
                    </section>
                  </article>
                {% endfor %}
            </section>
            <section id="rankings">
                {{ rankings.htmlString | safe }}
            </section>
        </div>
    </div>
  </div>

  <script src="./main.js"></script>
</body>
</html>
