{% import "fighterMacro.njk" as fighterMacro %}

<!doctype html>
<html>
<head>
  {% block title %}
    <title>UFC rankings and events</title>
  {% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
  <style>
    {{ "public/base.css" | inlineFileContent | safe }}
    {{ "public/ui.css" | inlineFileContent | safe }}
    {{ "public/fight.css" | inlineFileContent | safe }}
    {{ "public/loader.css" | inlineFileContent | safe }}
  </style>
</head>

<body class="dark">
  <main id="wrapper">
    <header class="site-header">
      <div class="site-header-inner">
        <a class="logo" href="/"><h1>UFC STATS</h1></a>
        <nav class="top-menu">
            <a class="menu-item" href="/rankings">Rankings</a>
            <span class="menu-item">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a class="menu-item menu-item--search" href="#">Search</a>
            <form action="/search" method="get" class="search-form hidden" style="height: 22px; display: flex; gap: 5px;">
              <input type="search" id="search-input" class="search-input" name="query" placeholder="name">
              <button type="submit">Search</button>
              <button type="button" class="search-clear">Clear</button>
            </form>
        </nav>
      </div>
    </header>
              
    <div class="search-results hidden"></div>
    
    <div class="triple-loader hidden"><div></div><div></div><div></div></div>

    <div id="main-container" class="container single-post-container">
      {% block viewBody %}
      {% endblock %}
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/main.js"></script>
</body>
</html>
