{% import "fighterMacro.njk" as fighterView %}

<!doctype html>
<html>
<head>
  <title>UFC rankings and events</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    {{ "public/base.css" | inlineFileContent | safe }}
    {{ "public/ui.css" | inlineFileContent | safe }}
    {{ "public/fight.css" | inlineFileContent | safe }}
    {{ "public/loader.css" | inlineFileContent | safe }}
  </style>
</head>

<body class="dark">
  <div id="wrapper">
    <div id="container">
        <header class="site-header">
            <h1>MMA STATS</h1>
            {# <nav class="top-menu">
                <div class="button-group">
                    <a href="#historical-rankings">Historical rankings</a>
                    <a href="#latest-rankings">Latest rankings</a>
                </div> #}
                <!-- <form id="search-form">
                    <input type="search" id="search-input" />
                    <button type="submit">Search</button>
                </form> -->
            {# </nav> #}
        </header>
        
        <div class="triple-loader hidden"><div></div><div></div><div></div></div>

        <div id="main-container" class="container single-post-container">
            <section id="fighter-search-profile">
              <!-- We'll inject templates here with clientside JS -->
            </section>
            {% block viewBody %}
            {% endblock %}
        </div>
    </div>
  </div>

  <script src="./main.js"></script>
</body>
</html>
