{% extends "base.njk" %}
{% import "fighterMacro.njk" as fighterMacro %}


{% macro renderEvent(event, isEventInPast) %}
  {% if not isEventInPast %}<time>{% if event.isBigEvent %}Next big event: {% endif %}{{ event.date }}</time>{% endif %}
  <section class="ufc-card">
    <h1 class="{{ "post-title event-title big-event" if event.isBigEvent else "post-title event-title" }}">
      {{ event.eventName }}
    </h1>
    {% for match in event.mainMatches %}
      <div class="fight-on-card">
        <h2 class="fight-on-card__title">{{match.fighters[0] | nicknameOrLastname}} VS {{match.fighters[1] | nicknameOrLastname}}</h2>
        <div class="fight-on-card__grid">
          {% for fighter in match.fighters %}
            {{ fighterMacro.render(fighter) }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

  {% if event.moreMatches and event.moreMatches.length > 0  %} 
    <div class="more-fighters-on-card">
      <h2>Other fighters on card</h2>
      <ul>
      {% for match in event.moreMatches %}
        <li>
          {% for otherFighter in match.fighters %}
            <span class="other-fighter-name">{{ otherFighter.name }}</span>
            {% if loop.index0 == 0 %}
              <span> VS </span>
            {% endif %}
          {% endfor %}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
    
  </section>
{% endmacro %}

{% block viewBody %}
  <section id="events">
    {% for event in events %}
      {% set isEventInPast = isEventDateRecentEnoughToShow(event.date) %}
      {% if isEventInPast %}
        <details class="past-event">
          <summary></strong>Past event</strong> {{ event.date }} {{ event.eventName }}</summary>
          {{ renderEvent(event, isEventInPast) }}
        </details>
      {% else %}
        <div class="event">
          {{ renderEvent(event, isEventInPast) }}
        </div>
      {% endif %}
    {% endfor %}
  </section>
  <section id="rankings">
    <h2 class="post-title" id="latest-rankings" style="color: orange;">Latest rankings ({{ rankings.latestRankings.date }})</h2>
    <section class="snapshot">
      <div class="snapshot-divisions">
        {% for division in rankings.latestRankings.divisions %}
          {% if division.name != " Women's Featherweight " %}
            <article class="division">
              <h3 class="division-name">{{division.name}}</h3>
              <div class="division-fighters">
              {% for fighter in division.fighters %}
                <div>
                  <span class="rank">{{fighter.rank}}</span> {{ getFighterNameOrLinkHtml(fighter.name, fighter.mmaStatsName, fighter.alternativeName, "rank") | safe }}
                </div>
              {% endfor %}
              </div>
            </article>
          {% endif %}
        {% endfor %}
      </div>
    </section>
    
  </section>
{% endblock %}
