{% extends "base.njk" %}
{% import "fighterMacro.njk" as fighterMacro %}

{% block title %}
  {% if fighter and fighter.fighterInfo and fighter.fighterInfo.name %}
    <title>{{fighter.fighterInfo.name}}</title>
  {% else %}
    <title>Fighter</title>
  {% endif %}
{% endblock %}

{% block viewBody %}
  {{ fighterMacro.render(fighter) }}
{% endblock %}