
{% macro render(fighter) %}
  {% if not fighter or not fighter.fighterInfo %}
    <p>Missing fighter</p>
  {% else %}
    {% set info = fighter.fighterInfo %}
    <article class="fighter">
      <header>
        <div class="left-col">
          {% for src in info.relevantImages | slice(3) %}
            {% if loop.index0 == 0 %}
              <img src="{{src}}" alt="">
            {% else %}
              <img src="{{src}}" alt="" loading="auto">
            {% endif %}
          {% endfor %}
        </div>
        <div class="right-col">
          <h2 class="fighter-name">{{ info.name }}</h2>
          {% if info.nickname %}
            <p class="fighter-nickname"><span>Nickname:</span> {{ info.nickname }}</p>
          {% endif %}  
          <p class="fighter-age"><span>Age:</span> {{ info.age }}</p>
          <p class="fighter-size"><span>Height:</span> {{ info.height }}</p>
          <p class="fighter-reach"><span>Reach:</span> {{ info.reach }}</p>
          <p class="fighter-birthplace"><span>Born:</span> {{ info.birthplace }}</p>
          {% if info.fightingOutOf %}
            <p class="fighter-association"><span>Fighting out of:</span> {{ info.fightingOutOf }}</p>
          {% endif %}  
          <p class="fighter-team"><span>Team:</span> {{ info.team }}</p>
          {# <p class="fighter-divisions"><span>Divisions:</span> {{ info.division }}</p> #}
        </div>
      </header>
      
      <section class="fights">
        <h4>Record:</h4>
        {# EXAMPLE FIGHT DATA 
        {"result":"Win","record":"28–8","opponentName":"Israel Adesanya","method":"Decision (unanimous)","event":"UFC 259","date":"March 6, 2021","round":"5","time":"5:00","location":"Las Vegas, Nevada, United States","notes":"Defended the UFC Light Heavyweight Championship.","year":"2021","opponentInfoAtTheTime":{"fighter":{"rank":"C","link":"https://mma-stats.com/fighters/Israel-Adesanya","name":"Israel Adesanya"},"division":" Middleweight ","date":"February 15, 2021","formattedDate":"2021-01","wasInTheFuture":true}} #}
        {% for fight in fighter.record %}
          <p class="fight {{ 'fight--win' if fight.result === 'Win' }} {{ 'fight--loss' if fight.result === 'Loss'}}">

            {# {% if fight.fighterRankAtTheTime and not fight.fighterRankAtTheTime.wasInTheFuture %}
              <span class="fight__opponent-rank {{ 'fight__opponent-rank--past' if fight.fighterRankAtTheTime.fighter.wasInThePast }} {{ 'fight__opponent-rank--future' if fight.fighterRankAtTheTime.wasInTheFuture }}">
                {% if fight.fighterRankAtTheTime.division %}
                  {{ fight.fighterRankAtTheTime.division | divisionAbbreviation }}
                {% endif -%}
                #{{ fight.fighterRankAtTheTime.fighter.rank | trim }} in {{ fight.fighterRankAtTheTime.formattedDate }}
              </span>
            {% endif %} #}

            <span class="fight__year">{{fight.date | dateFormat}}:</span>
            <span class="fight__result">{{fight.result}}</span>
            <span class="fight__opponent">{{fight.opponentName}}</span>
            {% if fight.opponentInfoAtTheTime %}
              <span class="fight__opponent-rank {{ 'fight__opponent-rank--past' if fight.opponentInfoAtTheTime.wasInThePast }} {{ 'fight__opponent-rank--future' if fight.opponentInfoAtTheTime.wasInTheFuture }}">
                {% if fight.opponentInfoAtTheTime.division %}
                  {{ fight.opponentInfoAtTheTime.division | divisionAbbreviation }}
                {% endif -%}
                #{{ fight.opponentInfoAtTheTime.fighter.rank | trim }} in {{ fight.opponentInfoAtTheTime.formattedDate }}
              </span>
            {% endif %}
            <span class="fight__method">{{fight.method}}</span>
          </p>
        {% endfor %}
      </section>

      {% if fighter.limitedRankHistoryPerDivision and fighter.limitedRankHistoryPerDivision.length > 0 %}
        <section class="chart-container">
          <h4>Rank history</h4>
          {# Danger! Will break if there are any singlequotes in the json...like "Women's flyweight" #}
          <div class="chart-data-container" data-dump='{{fighter.limitedRankHistoryPerDivision|dump|safe}}'></div>
          {# Placeholder for js rendering #}
          <div class="apex-chart"></div>
        </section>
      {% endif %}
      
    </article>
  {% endif %}
{% endmacro %}