@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

button, hr, input {
    overflow: visible
}

img, legend {
    max-width: 100%
}

audio, canvas, progress, video {
    display: inline-block
}

progress, sub, sup {
    vertical-align: baseline
}

[type=checkbox], [type=radio], legend {
    padding: 0;
    box-sizing: border-box
}

ol, pre, ul {
    margin: 0 0 20px
}

#wrapper:after, .blog-description:after, .clearfix:after, .post-date:after {
    content: ""
}

.container, .post-stub, sub, sup {
    position: relative
}


html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

h1 {
    margin: .67em 0
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

b, strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none;
    width: auto
}

.container, table {
    width: 100%
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: 'Avenir', monospace;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

.footer, .site-header, textarea {
    overflow: auto
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    white-space: normal
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

ol, p, ul {
    line-height: 1.5em
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}


h2, h3 {
    font-weight: 900
}

a, a code {
    color: #00a0fc
}

body, html {
    height: 100%
}

body {
    margin: 0;
    background: #fefefe;
    color: #424242;
    font-family: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

body.dark, 
body.dark input {
    background-color: rgb(30, 34, 39);
    color: #fff
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 24px;
    margin-bottom: 18px
}

h5 {
    font-size: 16px;
    margin-bottom: 15px
}

h6 {
    font-size: 14px;
    margin-bottom: 12px
}

p {
    margin: 0 0 30px
}

a {
    text-decoration: none
}

ol ol, ol ul, ul ol, ul ul {
    margin: 10px 10px 12px 20px
}

ol li, ul li {
    margin: 0 0 2px
}

ol li:last-of-type, ul li:last-of-type {
    margin-bottom: 0
}

blockquote {
    border-left: 1px dotted #00a0fc;
    margin: 40px 0;
    padding: 5px 30px
}

blockquote p {
    color: #aeadad;
    font-style: italic;
    margin: 0;
    width: 100%
}

hr {
    border: none;
    border-bottom: 1px solid #333;
    margin: 45px 0
}

.error, .post-header, .site-header {
    text-align: center
}

table tr {
    border-bottom: 1px dotted #aeadad
}

::selection {
    background: #fff5b8;
    color: #000;
    display: block
}

::-moz-selection {
    background: #fff5b8;
    color: #000;
    display: block
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none
}

.clearfix:after {
    display: table;
    clear: both
}

.container {
    margin: 0 auto;
    max-width: 1200px
}

#wrapper {
    height: auto;
    min-height: 100%;
    margin-bottom: -265px
}

#wrapper:after {
    display: block;
    height: 265px
}

.site-header {
    display: flex;
    padding: 5px 0 0;
    background: #23275870;
    font-family: 'Bebas Neue', sans-serif;
    border-top: solid 2px #4c2685;
}

.site-header h1 {
    display: inline-block;
    margin: 0 auto;
    color: black;
    font-weight: normal;
    font-size: 37px;
    text-shadow: 2px 4px 1px #4c2685;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.site-title a {
    float: left;
    background: #00a0fc;
    color: #fefefe;
    padding: 5px 10px 6px
}

.site-title a:hover {
    background: #303030
}

.site-logo {
    display: block
}

.site-logo img {
    margin: 0
}

.site-nav {
    list-style: none;
    margin: 28px 0 10px;
    padding: 0
}

.site-nav-item {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 10px
}

.site-nav-item a:hover {
    color: #424242
}

.post-header {
    border-bottom: 1px solid #333;
    margin: 0 0 50px;
    padding: 0 0 0
}

.page-title, .post-title {
    font-size: 55px;
    font-weight: 900;
    margin: 15px 0;
    text-align: left;
    border-bottom: solid 2px gold;
}

.page-title {
    margin: 15px 40px
}

.center, .footer-copyright, .share, .share a {
    text-align: center
}    

.footer {
    background: #303030;
    color: #d3d3d3;
    height: 265px;
    margin-top: 0
}

.footer .site-title-wrapper {
    margin: 80px auto 35px
}

.footer .button-square:hover, .footer .site-title a:hover {
    background: #121212
}

.footer-copyright {
    color: #656565;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase
}

.footer-copyright a {
    color: #656565;
    font-weight: 700
}

.footer-copyright a:hover {
    color: #fefefe
}

@media only screen and (max-width:600px) {
    .page-title, .post-header p, .post-title {
        word-wrap: break-word;
        overflow-wrap: break-word
    }
    h1, h2, ol, p, ul {
        margin-bottom: 20px;
        word-break: break-word;
    }
    blockquote, img {
        margin: 30px 0
    }
    pre {
        margin: 20px 0
    }
    hr {
        margin: 35px 0
    }
    .site-header {
        padding-top: 40px
    }
    .site-title {
        float: none;
        margin-bottom: 15px
    }
    .site-title a {
        float: none
    }
    .site-title+.button-square {
        margin-left: 0
    }
    .site-nav-item {
        display: block;
        margin: 15px 0
    }
    .post-header {
        padding-bottom: 20px
    }
    .page-title, .post-title {
        font-size: 42px;
        margin-top: 5px
    }
    
    .footer {
        margin-top: 0
    }
    .footer .site-title-wrapper {
        text-align: center
    }
    .footer .button-jump-top {
        clear: both;
        display: inline-block;
        float: none
    }
}

@media only screen and (max-width:450px) {
    .site-header {
        padding-top: 40px
    }
    .page-title, .post-title {
        font-size: 48px;
        line-height: 1.2;
        word-wrap: break-word;
        overflow-wrap: break-word
    }
    
    .footer-copyright {
        padding: 0 10px
    }
}

.center {
    margin: 0 auto
}

@media only screen and (max-width:782px) {
    #container {
        padding-top: 0
    }
}


p.post-description {
    font-size: 1.2rem
}

h2.post-description {
    padding-top: 30px;
    font-size: 23px;
    font-weight: 300;
    text-align: left;
    line-height: 1.8rem;
    padding-bottom: 30px;
    letter-spacing: .5px;
    text-transform: none
}


.post-header.homepage .post-title {
    text-align: center
}


@media only screen and (max-width:750px) {
    .post-title {
        font-size: 65px
    }
}

@media only screen and (max-width:590px) {
    .post-title, h2 {
        font-size: 45px
    }
}

@media only screen and (max-width:400px) {
    h2 {
        font-size: 25px
    }
    .homepage .post-title {
        font-size: 50px
    }
}

.event time {
    background: gold;
    color: black;
    padding: 0 18px 5px 0;
    border-radius: 0 25px 0 0;
}

.event-title {
    margin-top: 0;
    color: gold;
}

.sections-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.single-post-container {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
    .single-post-container {
        padding-left: 8px;
        padding-right: 8px
    }
}