.snapshot h2 {
    color: orange;
}

.snapshot-divisions {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px white;
    display: flex;
    flex-wrap: wrap;
}

.division {
    margin-bottom: 10px;
    flex: 1 0 275px;
}

.records-fighter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.fighter {
    margin-bottom: 10px;
    flex: 1 0 400px;
}

.fighter header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
}

.fighter img {
    width: 200px;
    min-height: 100px;
}

.fighter h1 {
    margin-top: 0;
}

.fighter p {
    margin-bottom: 5px;
}

.fighter-hometown, .fighter-association, .fighter-age, .fighter-size {
    font-size: 13px;
}

.rank {
    color: orange;
    font-weight: bold;
}

.fights {
    font-size: 13px;
}

.fights .fight {
    margin: 2px 0;
}

.fight--win .fight__result {
    color: gold;
}

.fight--loss .fight__result {
    color: #ec9095;
}

.fight__year {
    color: gold;
}

.fight__opponent-rank {
    color: gold;
}

.fight__opponent-rank--past {
    opacity: 0.5;
}

.fight__opponent-rank--future {
    opacity: 0.5;
}

.fight__opponent {
    font-weight: bold;
    cursor: pointer;
}

.fight__opponent:hover {
    text-decoration: underline;
}

.fight__method {
    font-style: italic;
}

#fighters,
#rankings {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #eee;
}