.snapshot h2 {
    color: orange;
}

.snapshot-divisions {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.division-fighters {
    font-size: 12px;
}

.annual-rank-snapshots summary {
    color: gold;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    padding: 5px;
}

.annual-rank-snapshots[open] {
    box-shadow: 0 2px 5px 0 #666;
}

.annual-rank-snapshots summary:hover {
    text-decoration: underline;
    color: orange;
}

.division {
    margin-bottom: 10px;
}

.fight-on-card {
    margin-bottom: 10px;
}

.fight-on-card__title {
    background-color: orange;
    text-align: center;
    color: black;
}

.fight-on-card,
.more-fighters-on-card {
    background: rgb(0,0,0, 20%);
}

.fighter {
    display: inline-block;
    margin-bottom: 10px;
}

.fighter header {
    display: grid;
    grid-template-areas: 
        "one one"
        "two two";
    gap: 10px;
}

.fighter .left-col {
    grid-area: two;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.fighter .right-col {
    grid-area: one;
}

@media screen and (min-width: 900px) {
    .fight-on-card__grid {
        display: grid;
        gap: 20px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .fighter {
        min-width: 400px;
    }
    .fighter header {
        display: flex;
    }
    .fighter .left-col {
        max-width: 200px;
        display: inline-block;
    }
    .fighter .right-col {
        display: inline-block;
    }
    .fighter .left-col img:nth-of-type(1) {
        width: 200px;
        min-height: 100px;
    }
    .fighter .left-col img:nth-of-type(2) {
        max-width: 90px;
        max-height: 150px;
        min-height: 50px;
        margin: 10px 0;
    }
    .fighter .left-col img:nth-of-type(3) {
        max-width: 90px;
        max-height: 150px;
        margin: 10px 0 10px 10px;
    }    
}

.fighter p {
    margin-bottom: 5px;
}

.fighter .right-col span {
    font-weight: bold;
}

p.small {
    font-size: 13px;
}

.rank {
    color: orange;
    font-weight: bold;
}

.fights {
    font-size: 13px;
}

.fights .fight {
    margin: 2px 0;
}

.fight--win .fight__result {
    color: gold;
}

.fight--loss .fight__result {
    color: #ec9095;
}

.fight__year {
    color: gold;
}

.fight__opponent-rank {
    background-color: gold;
    color: black;
    padding: 0px 2px;
    margin-right: 3px;
    border-radius: 5px;
}

.fight__opponent-rank--past {
    opacity: 0.5;
}

.fight__opponent-rank--future {
    opacity: 0.5;
}

.fight__opponent {
    font-weight: bold;
    cursor: pointer;
}

.fight__method {
    font-style: italic;
}

#main-container > section {
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border-bottom: solid 1px #eee; */
}

.next-big-event-text {
    background: crimson;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    margin: 0;
}

#rankings {
    padding-top: 20px;
    border-top: solid 2px gold;
}