.snapshot h2 {
    color: orange;
}

.snapshot-divisions {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.division-fighters {
    font-size: 12px;
}

.annual-rank-snapshots p {
    background-color: gold;
    max-width: 400px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.annual-rank-snapshots p:hover {
    background-color: orange;
}

.annual-rank-snapshots .snapshot {
    display: block;
}

.annual-rank-snapshots--collapsed .snapshot {
    display: none;
}

.annual-rank-snapshots--collapsed p {
    content: "🔼";
}

.annual-rank-snapshots p {
    padding-left: 5px;
    content: "🔽";
}

.division {
    margin-bottom: 10px;
}

.records-fighter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.fighter {
    display: inline-block;
    min-width: 400px;
    margin-bottom: 10px;
}

.fighter header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
}

.fighter .left-col {
    max-width: 200px;
}
.fighter .left-col img:nth-of-type(1) {
    width: 200px;
    min-height: 100px;
}
.fighter .left-col img:nth-of-type(2) {
    max-width: 90px;
    max-height: 150px;
    min-height: 50px;
    margin: 10px 0;
}
.fighter .left-col img:nth-of-type(3) {
    max-width: 90px;
    max-height: 150px;
    margin: 10px 0 10px 10px;
}

.fighter h1 {
    margin-top: 0;
}

.fighter p {
    margin-bottom: 5px;
}

.fighter .right-col span {
    font-weight: bold;
}

p.small {
    font-size: 13px;
}

.rank {
    color: orange;
    font-weight: bold;
}

.fights {
    font-size: 13px;
}

.fights .fight {
    margin: 2px 0;
}

.fight--win .fight__result {
    color: gold;
}

.fight--loss .fight__result {
    color: #ec9095;
}

.fight__year {
    color: gold;
}

.fight__opponent-rank {
    color: gold;
}

.fight__opponent-rank--past {
    opacity: 0.5;
}

.fight__opponent-rank--future {
    opacity: 0.5;
}

.fight__opponent {
    font-weight: bold;
    cursor: pointer;
}

.fight__opponent:hover {
    text-decoration: underline;
}

.fight__method {
    font-style: italic;
}

#main-container > section {
    margin-bottom: 10px;
    padding-bottom: 10px;
    /* border-bottom: solid 1px #eee; */
}